<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/coo1kid1412" target="_blank"
    >
      Llx
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/coo1kid1412/chatgpt-demo" target="_blank"
    >
      Source Code cy from DiuDidi
    </a>
  </p>
</footer>
